<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/css/about.css" />
  </head>
  <body>
    <header><h2>Who Is Novak Djokovic?</h2></header>

    <div class="paragraph">
      <h4>
        Novak Djokovic began playing tennis at age 4 and was sent to train in
        Germany at age 13. After a steady ascent to the top levels of the sport,
        he won the Australian Open in 2008 and led the Serbian national team to
        its first Davis Cup win in 2010. In 2011, he claimed three of four Grand
        Slams and compiled a 43-match winning streak en route to the world's No.
        1 ranking. With his first French Open win in 2016, he became the first
        man since Rod Laver in 1969 to hold all four major titles at once. Early
        Life Djokovic was born on May 22, 1987, in Belgrade, Serbia. Father
        Srdjan and mother Dijana owned the company Family Sports, which had
        three restaurants and a tennis academy. Djokovic's father, uncle and
        aunt were all professional skiers, and his father also excelled at
        soccer, but Djokovic was a tennis prodigy. In the summer of 1993, at 6
        years old, Djokovic was spotted by Yugoslavian tennis legend Jelena
        Gencic at his parents' sports complex. Gencic then worked with Djokovic
        for the next six years. During this time, the war in former Yugoslavia
        and the bombing of Belgrade meant that, for almost three months,
        Djokovic and his family would spend a few hours in the middle of each
        night in the basement. Djokovic has said that the hardships of war drove
        him to pursue tennis with even greater determination. At 13, he was sent
        to the Pilic Academy in Munich, Germany, to pursue higher levels of
        competition. In 2001, at age 14, he began his international career.
      </h4>
    </div>
  </body>
</html>
