<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <header><h1>Novak Djokovic</h1></header>
    <div class="img">
      <img src="/views/img/djoko.jpeg" alt="djoko" height="850" />
      <hr />
      <div class="links">
        <ul class="inf">
          <li class="about"><a href="/about">About</a></li>
          <li><a href="/works">Career</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
