<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/works.css" />
    <title>Career</title>
  </head>
  <body>
    <h1>Achievements</h1>
    <div class="center-img">
      <img class="img" src="/views/img/novak-djokovic.jpeg" alt="" />
    </div>
    <div class="achiv">
      <ul class="align">
        <li>
          2011: US Open (Outdoor/Hard) ATP Masters 1000 Canada (Outdoor/Hard)
          Wimbledon (Outdoor/Grass) ATP Masters 1000 Rome (Outdoor/Clay) ATP
          Masters 1000 Madrid (Outdoor/Clay) Belgrade (Outdoor/Clay) ATP Masters
          1000 Miami (Outdoor/Hard) ATP Masters 1000 Indian Wells (Outdoor/Hard)
          Dubai (Outdoor/Hard) Australian Open (Outdoor/Hard)
        </li>
        <li>
          2012: ATP Finals (Indoor/Hard) ATP Masters 1000 Shanghai
          (Outdoor/Hard) Beijing (Outdoor/Hard) ATP Masters 1000 Canada
          (Outdoor/Hard) ATP Masters 1000 Miami (Outdoor/Hard) Australian Open
          (Outdoor/Hard)
        </li>
        <li>
          2013: ATP Finals (Indoor/Hard) ATP Masters 1000 Paris (Indoor/Hard)
          ATP Masters 1000 Shanghai (Outdoor/Hard) Beijing (Outdoor/Hard) ATP
          Masters 1000 Monte Carlo (Outdoor/Clay) Dubai (Outdoor/Hard)
          Australian Open (Outdoor/Hard)
        </li>
        <li>
          2014: ATP Finals (Indoor/Hard) ATP Masters 1000 Paris (Indoor/Hard)
          Beijing (Outdoor/Hard) Wimbledon (Outdoor/Grass) ATP Masters 1000 Rome
          (Outdoor/Clay) ATP Masters 1000 Miami (Outdoor/Hard) ATP Masters 1000
          Indian Wells (Outdoor/Hard)
        </li>
        <li>
          2015: ATP Finals (Indoor/Hard) ATP Masters 1000 Paris (Indoor/Hard)
          ATP Masters 1000 Shanghai (Outdoor/Hard) Beijing (Outdoor/Hard) US
          Open (Outdoor/Hard) Wimbledon (Outdoor/Grass) ATP Masters 1000 Rome
          (Outdoor/Clay) ATP Masters 1000 Monte Carlo (Outdoor/Clay) ATP Masters
          1000 Miami (Outdoor/Hard) ATP Masters 1000 Indian Wells (Outdoor/Hard)
          Australian Open (Outdoor/Hard)
        </li>
        <li>
          2016: ATP Masters 1000 Canada (Outdoor/Hard) Roland Garros
          (Outdoor/Clay) ATP Masters 1000 Madrid (Outdoor/Clay) ATP Masters 1000
          Miami (Outdoor/Hard) ATP Masters 1000 Indian Wells (Outdoor/Hard)
          Australian Open (Outdoor/Hard) Doha (Outdoor/Hard)
        </li>
        <li>2017: Eastbourne (Outdoor/Grass) Doha (Outdoor/Hard)</li>
        <li>
          2018: ATP Masters 1000 Shanghai (Outdoor/Hard) US Open (Outdoor/Hard)
          ATP Masters 1000 Cincinnati (Outdoor/Hard) Wimbledon (Outdoor/Grass)
        </li>
        <li>
          2019: ATP Masters 1000 Paris (Indoor/Hard) Tokyo (Outdoor/Hard)
          Wimbledon (Outdoor/Grass) ATP Masters 1000 Madrid (Outdoor/Clay)
          Australian Open (Outdoor/Hard)
        </li>
        <li>
          2020: ATP Masters 1000 Rome (Outdoor/Clay) ATP Masters 1000 Cincinnati
          (Outdoor/Hard) Dubai (Outdoor/Hard) Australian Open (Outdoor/Hard)
        </li>
        <li>
          2021: ATP Masters 1000 Paris (Indoor/Hard) Wimbledon (Outdoor/Grass)
          Roland Garros (Outdoor/Clay) Belgrade 2 (Outdoor/Clay) Australian Open
          (Outdoor/Hard)
        </li>
      </ul>
    </div>
  </body>
</html>
